openapi: 3.0.0
servers:
  - url: "https://app.payku.cl/"
    description: Default server
  - url: "https://des.payku.cl/"
    description: Sandbox server
info:
  description: |
    ¿Necesitas ver la documentación de los otros países?: <a href="https://jesuspayku.github.io/docs-apirest/index-cl-en-v1.html">Chile</a> | <a href="https://jesuspayku.github.io/docs-apirest/index-pe-en-v1.html">Perú</a> | Venezuela

    Select the language of the documentation: <a href="https://jesuspayku.github.io/docs-apirest/index-ve-es-v1.html">ES</a> | EN

    <div style="
    background: #2F39D1;
    width:100%;
    height:6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ">
    <strong style="color: #fff">New: You can do live tests of our API</strong>
    <a style="
    margin-top:0.7rem;
    background: #fff;
    border: 1px solid rgb(50, 50, 159);
    color: rgb(50, 50, 159);
    font-weight: normal;
    margin-left: 0.5em;
    width:20%;
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center"
    href="https://testing-apirest.payku.cl/"
    target="_blanck" rel=”noopener noreferrer”
    onMouseOver="this.style.color='#000', this.style.background='#DBDBDB'"
    onMouseOut="this.style.color='#2F39D1', this.style.background='#fff'"
     >
    Tests
      </a>
    </div>

    # Introduction
    Welcome to the Payku API. You can use our API to access the different
    Payku endpoints, where you can generate and manage payments through different
    methods and get information from them.

    The API is organized around REST. It has predictable URLs and resource-oriented,
    and uses HTTP response codes to indicate the result of the call. All API
    responses return objects JSON, including errors.

    User should look for a 200 result code. If received any result code other
    than 200, the request, or the response is invalid, which means that the fields
    did not pass the checks of validation from payku. We use features included in
    the HTTP protocol, such as authentication, which are supported by the most HTTP
    clients.

    # Authentication
    Payku uses Token Based Authentication over HTTPS for authentication. To have
    access to our API, access your account in the section of Integration you will
    find the option of integration and API tokens. The request Unauthenticated or
    incorrect will return an Invalid token response.

    # API Security
    Each request is required to have included in the header:
      - Authorization: Bearer **TOKEN-PÚBLICO**

    # Signature
    In the case of the subscription, nullification and Mall API, an additional layer of security was added
    through of a signature that is sent in the request header, to obtain said signature
    is necessary the following:

    The Request Path must be concatenated in url format along with all the request
    parameters, which must be ordered alphabetically by key, such that key = value.
    Therefore, if the client email value is "example@domain.com" the correct format
    would be "example% 40domain.com" and then concatenated with the character '&'.

    Once the character sets are ordered and concatenated, the hash is calculated
    using the HMAC function with encryption type sha256, and the private token.

    **Note:** If an element of the data has as value an object or array, it is excluded from the data. This function is in the PHP and Javascript example.

    ### PHP Example
    API Endpoint:
    ```php
    $request_path = urlencode('/api/suclient/');
    ```
    Sorting the parameters:
    ```php
    $data = [
      'email' => 'support@youwebsite.cl',
      'name' => 'Joe Doe',
      'phone' => '923122312',
      'address' => 'Moneda 101',
      'country' => 'Chile',
      'region' => 'Metropolitana',
      'city' => 'Santiago',
      'postal_code' => '850000',
      'additional_parameters' => [
        'parameter_1' => 'example',
        'parameter_2' => 'example 2',
      ]
    ];
    ksort($data);
    ```
    Transformation of the parameters to url format:
    ```php
        $contador = 0;
        $concatenar = null;

        if (!empty($data) && !is_null($data)) {
            foreach ($data as $key => $val) {
                if(gettype($val)!='array' && gettype($val)!='object'){
                    if ($contador>0) {
                        $concatenar .= '&';
                    }
                    $concatenar .= $key . '=' . urlencode($val);
                }
                $contador++;
            }
        };
    ```
    Concatenation of the parameters in url format with the API endpoint:
    ```php
    $concat = $request_path.'&'.$array_concat;
    ```
    Sign:
    ```php
    $sign = hash_hmac('sha256', $concat, '79c5481cffd3ecbd0c8ade5e5b5fc2c6');
    ```

    ### JavaScript Example
    Import CryptoJS dependency:
    ```javascript
    const CryptoJS = require("crypto-js");
    ```
    API Endpoint:
    ```javascript
    const requestPath = encodeURIComponent('/api/suclient');
    ```
    Sorting the parameters:
    ```javascript
    const data = {
      email: "support@youwebsite.cl",
      name: "Joe Doe",
      phone: "923122312",
      address: "Moneda 101",
      country: "Chile",
      region: "Metropolitana",
      city: "Santiago",
      postal_code: "850000"
    };
    const orderedData = {};
    Object.keys(data).sort().forEach(function(key) {
      orderedData[key] = data[key];
      if (typeof orderedData[key] === 'object') {
            delete orderedData[key];
      }
    });
    ```
    Transformation of the parameters to url format:
    ```javascript
    const arrayConcat = new URLSearchParams(orderedData).toString();
    ```
    Concatenation of the parameters in url format with the API endpoint:
    ```javascript
    const concat = requestPath + "&" + arrayConcat;
    ```
    Sign:
    ```javascript
    const sign = CryptoJS.HmacSHA256(concat, "fe551abcef62fcf002dc598922e68f0a").toString();
    ```

    The result of the signature obtained for both examples is:

    ```javascript
    "d891663698d31aa8b68babe96ac6497f5a0d874024368102998d5b79a4d12c36"
    ```

    # Errors
    Payku uses conventional HTTP responses to indicate the success or failure of a request.
    In general, codes in the 2xx range indicate success, codes in the 4xx range indicate
    an error that failed due to the information provided (ex: a required parameter was
    skipped, a payment failed, etc.), and codes in the 5xx range indicate an error with
    Payku servers (these are rare).

    ## Error codes
    <div class="errorContent">
    <table>
      <tbody>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">400</strong>
            <p class="psmall">Bad Request</p>
          </td>
          <td class="errorDescription">There is a problem with your request</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">401</strong>
            <p class="psmall">Unauthorized</p>
          </td>
          <td class="errorDescription">Your token is incorrect or signature is incorrect</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">403</strong>
            <p class="psmall">Forbidden</p>
          </td>
          <td class="errorDescription">You do not have permission to view this page</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">404</strong>
            <p class="psmall">Not Found</p>
          </td>
          <td class="errorDescription">The specified resource was not found</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">405</strong>
            <p class="psmall">Method Not Allowed</p>
          </td>
          <td class="errorDescription">You tried to enter a resource with an invalid method</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">406</strong>
            <p class="psmall">Not Acceptable</p>
          </td>
          <td class="errorDescription">You requested a format other than JSON</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">410</strong>
            <p class="psmall">Gone</p>
          </td>
          <td class="errorDescription">The requested resource was removed from our servers</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">422</strong>
            <p class="psmall">Unprocessable Entity</p>
          </td>
          <td class="errorDescription">We cannot process your request, please review it.</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">429</strong>
            <p class="psmall">Too Many Requests</p>
          </td>
          <td class="errorDescription">You are requesting a lot of resources! Stop!</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">500</strong>
            <p class="psmall">Internal Server Error</p>
          </td>
          <td class="errorDescription">We had a problem with our server. Please try again later.</td>
        </tr>
        <tr>
          <td style="text-align: right"><strong class="errorTitle">503</strong>
            <p class="psmall">Service Unavailable</p>
          </td>
          <td class="errorDescription">We are offline for maintenance. Please try again later.</td>
        </tr>
      </tbody>
    </table>
    </div>


    # API access
    If you have a payku account, you can access the REST API through the following endpoints:

    <div class="content">
      <table class="center smallTable">
        <thead>
          <tr>
            <th style="text-align:center;"><strong>Site</strong></th>
            <th style="text-align:center;"><strong>BASE URL FOR REST ENDPOINT</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Production</strong></td>
            <td align="center"><a href="https://app.payku.cl/api">https://app.payku.cl/api</a></td>
          </tr>
          <tr>
            <td><strong>Sandbox</strong></td>
            <td><a href="https://des.payku.cl/api">https://des.payku.cl/api</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    - **Production**: provides direct access to generate actual transactions.
    - **Sandbox**: allows you to test your integration without affecting the actual data.

  version: "1.0.0"
  title: Payku API
  termsOfService: "https://payku.cl/legal/"
  contact:
    email: contacto@payku.cl
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://storage.googleapis.com/storage-payku-prd/public/img/payku2020_2.svg"
tags:
  - name: Transaction
    description: |
      It allows the creation of transactions and later check their status.
      <br>
      <div class='container'>
        <img src='/docs-apirest/assets/img/Diagram-Transaction.png' alt='Avatar' class='image' style='width:100%'>
        <div class='middle'>
          <a target='_blank' href='/docs-apirest/assets/img/Diagram-Transaction.png' class='text'>View</a>
        </div>
      </div>
  - name: Escrow Transaction
    description: This functionality will allow escrow accounts authorized by Payku to settle transactions.
  - name: Nullification
    description: Allows you to request the cancellation of a transaction made through payku.

  - name: Consumption Subscription
    description: |
      It is the set of methods that will allow our users to create clients, plans, subscriptions and carry out consumer plan transactions.

      The main use of these methods is to make one-time charges to a customer for a service or product, such as hiring a delivery service for a product or the purchase of a particular product.
  - name: Wallet
    description: With this Wallet method you can create your wallet in **Payku**.
  - name: Conciliation
    description: Allows to obtain reconciliations in **payku**.
  - name: payku.cl
    description: Login to https://app.payku.cl/.
  - name: Banks
    description: |
      Allows you to view the list of partner banks.
  - name: Methods of payment
    description: |
      Allows you to view the list of payment methods used by payku.

x-tagGroups:
  - name: ''
    tags:
      - Transaction
      - Wallet
  - name: Tools
    tags:
      - Banks
      - Methods of payment
  - name: Info
    tags:
      - payku.cl

paths:
  /api/banks:
    get:
      tags:
        - Banks
      summary: "Get list of banks"
      description: |
        This method allows to obtain a list of the associated banks.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BanksResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"

      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/banks  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/banks', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/banks', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/banks?currency=ves:
    get:
      tags:
        - Banks
      summary: "Get list of banks by currency type"
      description: |
        This method provides a list of partner banks filtered by currency.
        To filter by currency, you have to add the query params currency with the currency value.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BanksCurrencyResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"

      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/banks  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/banks?currency=ves', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/banks?currency=ves', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }
            request();

  /api/paymentmethods:
    get:
      tags:
        - Methods of payment
      summary: "Get list of payment methods on payku"
      description: |
        This method allows you to obtain a list of payment methods on payku.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodsPaymentResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/paymentmethods  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/paymentmethods', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/paymentmethods', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/paymentmethods?currency=ves:
    get:
      tags:
        - Methods of payment
      summary: "Get list of payment methods by currency type"
      description: |
        This method allows you to get a list of payment methods in payku.
        To filter by currency, you have to add the query params currency with the currency value.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodsPaymentCurrencyResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBanks400get"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/paymentmethods?currency=ves  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/paymentmethods?currency=ves', [
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/paymentmethods?currency=ves', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                },
              });
              const result = await response.json();
              console.log(result)
            }
            request();

  /api/conciliation:
    post:
      tags:
        - Conciliation
      summary: Get conciliations.
      description: Allows you to obtain bank reconciliations of the money generated by your account and deposited by **payku** in the days corresponding to your payment.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseConciliation"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/conciliation \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
                "date_init": "2022-10-20",
                "date_end": "2022-10-21"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/conciliation', [
                'json' => [
                    'date_init' => '2022-10-20',
                    'date_end' => '2022-10-21'
                  ],
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/conciliation', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "date_init": "2022-10-20",
              "date_end": "2022-10-21"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date_init:
                  description: |
                    **Start date range:**
                      - Cannot be greater than the current date.
                      - It cannot be greater than the end date.
                      - The range of the start date and end date must not be greater than 30 days.
                  type: string
                  example: "2022-10-20"
                date_end:
                  description: |
                    **End date range:**
                      - Cannot be greater than the current date.
                      - Cannot be less than the start date.
                      - The range of the start date and end date must not be greater than 30 days.
                  type: string
                  example: "2022-10-21"
              required:
                - date_init
                - date_end

  /api/wallet/payout:
    post:
      tags:
        - Wallet
      summary: Make payments to third parties from my wallet for Venezuela
      description:
        This method allows you to create a payment order to a third party using the funds in your wallet virtual **payku**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseThird"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/wallet/payout \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SIGN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "email": "johndoe@example.com",
              "phone": "04149876543",
              "subject": "payment description",
              "currency": "VES",
              "order": "98745",
              "amount":  600,
              "accountbank_name": "John Doe",
              "accountbank_rut": "V23654789",
              "accountbank_sbif": "0102",
              "accountbank_num": "04149876543",
              "url_notify": "https://youwebsite.com/urlnotify?orderClient=98745",
              "additional_parameters":
                {
                "parameters1": "keyValue",
                "parameters2": "keyValue2",
                "order_ext": "fff-777"
                }
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/wallet/payout', [
                'json' => [
                    'email' => 'johndoe@example.com',
                    'phone' => '04149876543',
                    'subject' => 'payment description',
                    'order' => "98745",
                    'currency' => 'VES',
                    'amount' =>  600,
                    'accountbank_name' => 'John Doe',
                    'accountbank_rut' => 'V23654789',
                    'accountbank_sbif' => '0102',
                    'accountbank_num' => '04149876543',
                    'url_notify' => 'https://youwebsite.com/urlnotify?orderClient=98745',
                    'additional_parameters' =>
                    [
                    'parameters1' => 'keyValue',
                    'parameters2' => 'keyValue2',
                    'order_ext' => 'fff-777'
                    ]
                  ],
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/walet/payout', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "email": "johndoe@example.com",
              "phone": "04149876543",
              "subject": "payment description",
              "currency": "VES",
              "order": "98745",
              "amount":  600,
              "accountbank_name": "John Doe",
              "accountbank_rut": "V23654789",
              "accountbank_sbif": "0102",
              "accountbank_num": "04149876543",
              "url_notify": "https://youwebsite.com/urlnotify?orderClient=98745",
              "additional_parameters":
                {
                "parameters1": "keyValue",
                "parameters2": "keyValue2",
                "order_ext": "fff-777"
                }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " maximum 50 characters"
                  description: Client email
                  type: string
                  format: email
                  example: "johndoe@example.com"
                phone:
                  pattern: " maximum 20 characters"
                  description: Client phone
                  type: string
                  example: "04149876543"
                subject:
                  pattern: " maximum 200 characters"
                  description: Order Description
                  type: string
                  example: test subject
                currency:
                  pattern: " maximum 6 characters"
                  description: Currency description (ISO format)
                  type: string
                  example: "VES"
                order:
                  pattern: " maximum 50 characters"
                  description: E-commerce order
                  type: string
                  example: "98745"
                amount:
                  pattern: " maximum 14 digits"
                  description: Order amount
                  type: integer
                  example: 600
                accountbank_name:
                  pattern: " maximum 180 characters"
                  description: Name of the destination account holder
                  type: string
                  example: John Doe
                accountbank_rut:
                  pattern: " maximum 15 characters"
                  description: |
                    Identity card of the destination account holder in Venezuela
                    Format: (V/E/J) Vxxxxxxx
                  type: string
                  example: "V23654789"
                accountbank_sbif:
                  pattern: " maximum 4 characters"
                  description: |
                    Code of the bank to which the bank account belongs in Venezuela.
                      - 0102 Banco De Venezuela
                      - 0104 Banco Venezolano De Credito
                      - 0105 Banco Mercantil
                      - 0108 Banco Provincial
                      - 0114 Banco Del Caribe
                      - 0115 Banco Exterior
                      - 0128 Banco Caroni
                      - 0134 Banesco
                      - 0138 Banco Plaza
                      - 0151 Banco Fondo Común
                      - 0156 100%Banco
                      - 0163 Banco Del Tesoro
                      - 0171 Banco Activo
                      - 0172 Bancamiga
                      - 0174 Banplus
                      - 0175 Banco Bicentenario
                      - 0191 Banco Nacional De Credito
                  type: string
                  example: "0102"
                accountbank_num:
                  pattern: " maximum 200 characters"
                  description: |
                    Customer's account number in Venezuela Format: (0412 / 0414 / 0424 / 0426 / 0416) 9876543
                  type: string
                  example: "04149876543"
                url_notify:
                  pattern: " maximum 600 characters"
                  description: |
                    url where the result of the payment will be notified.
                    - Note: After making the payment to third parties, payku will automatically respond to the endpoint entered in urlnotify the result of the operation.
                      - **Approved Example:**
                      - {
                          - "id": "morexzxxxx",
                          - "identifier_payout": "morexzxxxx",
                          - "order" : "367734544",
                          - "status" : "success",
                          - "update_at" : "2023-08-24 12:29:35",
                          - "customer" : {
                            - "name" : "Jhon Doe",
                            - "phone" : "04149876543",
                            - "document" : "V23654789",
                            - "number" : "04149876543"
                          - }
                      - }
                      - **Rejected Example:**
                      - {
                          - "id": "morexzxxxx",
                          - "identifier_payout": "morexzxxxx",
                          - "order" : "367734544",
                          - "status" : "banking_error",
                          - "update_at" : "2023-08-24 12:29:35",
                          - "customer" : {
                            - "name" : "Jhon Doe",
                            - "phone" : "04149876543",
                            - "document" : "V23654789",
                            - "number" : "04149876543"
                          - }
                      - }
                  type: string
                  example: "https://youwebsite.com/urlnotify?orderClient=98745"
                additional_parameters:
                  pattern: " maximum 4000 characters"
                  description: Client additional parameters
                  type: object
                  properties:
                    parameter_1:
                      description: Parameter name given by user payku
                      type: string
                      example: "keyValue"
                    parameter_2:
                      description: Parameter name given by user payku
                      type: string
                      example: "keyValue2"
                    order_ext:
                      description: Name of the external order given by the user payku (Optional)
                      type: string
                      example: "fff-777"
              required:
                - email
                - subject
                - currency
                - order
                - amount
                - accountbank_name
                - accountbank_rut
                - accountbank_sbif
                - accountbank_type
                - accountbank_num

  /api/wallet/withdraw:
    post:
      tags:
        - Wallet
      summary: Withdraw money from my wallet
      description:
        This method allows you to create a settlement to the merchant's bank account using the funds from your virtual wallet **payku**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/wallet/withdraw \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "subject": "subject",
              "currency": "VES",
              "order": "98745",
              "amount":  1000
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/wallet/withdraw', [
                'json' => [
                    'subject' => 'subject',
                    'order' => "98745",
                    'currency' => 'VES',
                    'amount' =>  1000
                  ],
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/walet/withdraw', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              "amount":  1000,
              "currency": "VES",
              "order": "98745",
              "subject": "subject"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  pattern: " maximum 200 characters"
                  description: Order Description
                  type: string
                  example: test subject
                currency:
                  pattern: " maximum 6 characters"
                  description: Currency description (ISO format)
                  type: string
                  example: "VES"
                order:
                  pattern: " maximum 80 characters"
                  description: E-commerce order
                  type: string
                  example: "98745"
                amount:
                  pattern: " maximum 14 digitis"
                  description: order amount
                  type: integer
                  example: 25000
              required:
                - subject
                - order
                - amount
                - currency

  /api/wallet:
    get:
      tags:
        - Wallet
      summary: "Get balance"
      description: |
                    This method allows you to obtain the balance of your virtual wallet **payku**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/wallet/list:
    get:
      tags:
        - Wallet
      summary: "Get moves"
      description: |
                  This method allows you to obtain the movements of your virtual wallet **payku**, this method allows pagination with a maximum of 4000 records per page, In addition, it has the following filters:

                  For pagination it is necessary to add the following at the end of the endpoint ?page=1&per_page=100 being the first parameter the number of the page and the second the number of records per page As for example: **api/wallet/list?page=1&per_page=100**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet/list  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet/list', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet/list', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/wallet/{identificadorWallet}:
    get:
      tags:
        - Wallet
      summary: "Get move"
      description: |
        This method allows to obtain a movement of your virtual wallet **payku** using an identifier:

        To perform the query it is necessary to add the following at the end of the endpoint /{identificadorWallet} for example: **api/wallet/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponseGet"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/wallet/{idWallet}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/wallet/{idWallet}', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/wallet/{idWallet}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/payout/{identificadorPayout}:
    get:
      tags:
        - Wallet
      summary: "Get payout"
      description: |
        This method allows you to obtain a movement of payments to third parties from your **payku** virtual wallet using an identifier:

        To perform the query it is necessary to add the following at the end of the endpoint /{identificadorPayout} for example: **api/payout/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponseGet"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/payout/{identificadorPayout}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/payout/{identificadorPayout}', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/payout/{identificadorPayout}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/payoutv3/{identificadorPayout}:
    get:
      tags:
        - Wallet
      summary: "Get payout V3"
      description: |
        This method allows you to obtain a movement of payments to third parties from your **payku** virtual wallet using an identifier:

        To perform the query it is necessary to add the following at the end of the endpoint /{identificadorPayout} for example: **api/payout/wa24bg36767**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponseGetv3"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: Identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/payout/{identificadorPayout}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/payout/{identificadorPayout}', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN',
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/payout/{identificadorPayout}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  /api/escrow:
    post:
      tags:
        - Escrow Transaction
      summary: Authorize settlement
      description:
        This method allows authorizing the settlement of one or more transactions using their identifier, so that they can be deposited in the client's wallet or bank account.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EscrowResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/escrow \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              "transactions": ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385']
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/escrow', [
                'json' => [
                  'transactions' => ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385'],
                  ],
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/escrow', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              transactions: ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385'],
            };

            request(data);

      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transactions:
                  pattern: " maximum 30 characters"
                  description: Arrangement containing the identifier of each of the transactions to be authorized for settlement.
                  type: array
                  example: ['trx3b4d77b43acd9a720','trx3b4d77b43acd9a385']

  /api/nullification:
    post:
      tags:
      - Nullification
      summary: Create nullification
      description: This method allows you to create a reversal of a transaction.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nullificationResponse"
        "400":
          description: Error in the request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "cURL"
          source: |
            curl -X POST \
            https://BASE-URL/api/nullification \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Sign: f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
            -d '{
              'id': 'trxpr2a45s1dytg1',
              'amount': 25000,
              'subject': 'nullable request'
            }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/nullification', [
                'json' => [
                  'id' => 'trxpr2a45s1dytg1',
                  'amount' => 25000,
                  'subject' => "transaction annulment"
                  ],
                'headers' => [
                  'Sign' => 'f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112',
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/nullification', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'f96ddc14a73a4dd6e009db2514108a3f44832795cd5ac50e6a80fd0b0ae92112',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              'id': 'trxpr2a45s1dytg1',
              'amount': 25000,
              'subject': 'transaction annulment'
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  pattern: " maximum 40 characters"
                  description: Identifier of the transaction which you want to cancel.
                  type: string
                  example: "trxpr2a45s1dytg1"
                amount:
                  pattern: " maximum 14 digits"
                  description: Transaction amount.
                  type: int
                  example: 25000
                subject:
                  pattern: " maximum 200 characters"
                  description: description of the cancellation request.
                  type: string
                  example: "transaction annulment"

  /api/nullification/{identifier}:
    get:
      tags:
        - Nullification
      summary: get nullification
      description: |
            This method allows you to obtain nullification requests made to payku by means of an identifier:

            To perform the query it is necessary to add the following at the end of the endpoint /{identifier} for example: **api/nullification/trxpr2a45s1dytg1**.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nullificationResponseGet"
        "400":
          description: Error in the request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400get"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
        "404":
          description: identifier does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error404"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE-URL/api/nullification/{identifier}  \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Authorization: Bearer PUBLIC-TOKEN' \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE-URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/nullification/{identifier}', [
                'headers' => [
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/nullification/{identifier}', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request();

  callback:
    post:
      tags:
        - Nullification
      summary: Generate callback.
      description: |
        From the payku application, you can generate the notification **url** from the configuration section.

        <br>
        <div class='container'>
          <img src='/assets/Muestra-Url-Notificaciones.png' alt='Avatar' class='image' style='width:100%'>
          <div class='middle'>
            <a target='_blank' href='/assets/Muestra-Url-Notificaciones.png' class='text'>See example</a>
          </div>
        </div>

            Example of callback response:
              {
                  "id": "morexxzxxx",
                  "id_transaction": "morexxzxxx",
                  "ordencompra": "367734544",
                  "fecha": "24-08-2023 12:29:35",
                  "monto": 7000,
                  "status": "complete"
              }

  /api/suclient/:
    post:
      tags:
        - Consumption Subscription
      summary: Insert data to a Client
      description: This method allows the insertion of Client data.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminClientResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suclient \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "joedoe@gmail.com",
                "name": "Joe Doe",
                "rut": "111111111",
                "phone": "923122312",
                "address": "Moneda 101",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "850000,
                "additional_parameters":{
                  "parameter_1": "example 1",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suclient', [
                'json' => [
                  'email' => 'joedoe@gmail.cl',
                  'name' => 'Joe Doe',
                  'rut' => '111111111',
                  'phone' => '923122312',
                  'address' => 'Moneda 101',
                  'country' => 'Chile',
                  'region' => 'Metropolitana',
                  'city' => 'Santiago',
                  'postal_code' => '850000',
                  'additional_parameters' => [
                      'parameter_1' => 'example',
                      'parameter_2' => 'example 2'
                    ]
                  ],
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "joedoe@gmail.com",
              name: "Joe Doe",
              rut: "111111111",
              phone: "923122312",
              address: "Moneda 101",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "850000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " maximum 50 characters"
                  description: Client email.
                  type: string
                  format: email
                  example: joedoe@gmail.com
                name:
                  pattern: " maximum 80 characters"
                  description: Client name
                  type: string
                  example: "Joe Doe"
                rut:
                  pattern: " 12 characters required"
                  description: Single Tax Registry of the client, the entry of this data with or without a hyphen will be allowed.
                  type: string
                  example: "11111111"
                phone:
                  pattern: " 20 characters required"
                  description: Client phone.
                  type: string
                  example: "923122312"
                address:
                  pattern: " maximum 200 characters"
                  description: Client address.
                  type: string
                  example: "Moneda 101"
                country:
                  pattern: " maximum 40 characters"
                  description: Client country.
                  type: string
                  example: "Chile"
                region:
                  pattern: " maximum 120 characters"
                  description: Client region.
                  type: string
                  example: "Metropolitana"
                city:
                  pattern: " maximum 40 characters"
                  description: Client city.
                  type: string
                  example: "Santiago"
                postal_code:
                  pattern: " maximum 10 characters"
                  description: Client Zip Code.
                  type: string
                  example: "850000"
                additional_parameters:
                  pattern: " maximum 4000 characters"
                  description: Client additional parameters
                  type: object
                  properties:
                    parameter_1:
                      description: Client additional parameter
                      type: string
                      example: "example"
                    parameter_2:
                      description: Client additional parameter
                      type: string
                      example: "example"
              required:
                - email
                - name
                - phone

  /api/suplan/:
    post:
      tags:
        - Consumption Subscription
      summary: Insert the data of a plan.
      description: This method allows the insertion of data for the creation of a plan.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suplan \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "name": "Test plan",
                "description": "Test Plan"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suplan', [
                'json' => [
                  'name' => 'Test plan',
                  'description' => 'Test Plan'
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                    'Authorization' => 'Bearer PUBLIC-TOKEN'              ]
                  ])->getBody();
                $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suplan', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              name: "Test plan",
              description: "Test Plan"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  pattern: " maximum 200 characters"
                  description: Plan name.
                  type: string
                  example: Test plan
                description:
                  pattern: " maximum 1000 characters"
                  description: Plan description.
                  type: string
                  example: Test Plan
                url_notify_suscription:
                  pattern: " maximum 240 characters"
                  description: URL where the subscription status will be notified.
                  type: string
                  example: "https://youwebsite.com/urlnotifysuscription"
                  format: url
                url_notify_payment:
                  pattern: " maximum 240 characters"
                  description: URL where the payment status will be notified.
                  type: string
                  example: "https://youwebsite.com/urlnotifypayment"
                  format: url
                url_success_payment:
                  pattern: " maximum 240 characters"
                  description: URL where the user will be redirected if the payment is successful.
                  type: string
                  example: "https://youwebsite.com/urlsuccesspayment"
                  format: url
                url_failed_payment:
                  pattern: " maximum 240 characters"
                  description: URL where the user will be redirected if the payment is unsuccessful.
                  type: string
                  example: "https://youwebsite.com/urlfailedpayment"
                  format: url
              required:
                - name

  /api/sususcription/:
    post:
      tags:
        - Consumption Subscription
      summary: Insert data for subscription
      description: This method allows the user of a Payku account to create a subscription to a fixed-amount subscription plan, a consumer plan subscription and a variable-amount subscription to one of its clients, for this last type of subscription it is necessary to send the amount that will be charged in the subscription, it is important to note that when making this request for the first time there will be a charge of $ 50 that allows verifying that the card is active and valid, in the case of a fixed subscription plan the service charge will be automatic From the month following the subscription date and in the event that the subscription is to a consumer plan, it will be necessary to use the api / sutransaction endpoint to generate the transaction.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuscriptionResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/sususcription \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "plan": "pl9697fb170834ad42dd00",
                "client": "cl9b1e1dd988694f30fa30"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/sususcription, [
                'json' => [
                  'plan' => 'pl9697fb170834ad42dd00',
                  'client' => 'cl9b1e1dd988694f30fa30',
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                    'Authorization' => 'Bearer PUBLIC-TOKEN'
                  ]
                ])->getBody();
              $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/sususcription', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              plan: "pl9697fb170834ad42dd00",
              client: "cl9b1e1dd988694f30fa30"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  pattern: " maximum 70 characters"
                  description: Plan id.
                  type: string
                  example: pl9697fb170834ad42dd00
                client:
                  pattern: " maximum 20 characters"
                  description: Client id.
                  type: string
                  example: cl9b1e1dd988694f30fa30
              required:
                - plan
                - client

  /api/sutransaction/:
    post:
      tags:
        - Consumption Subscription
      summary: Insert data for the transaction
      description: This method allows the user of a Payku account to generate a unique transaction to one of his clients who are subscribed to a consumption plan.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSuTransactionResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/sutransaction \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "suscription": "sucaab7865dceaff49d8b3",
                "amount": "10000",
                "order": "001",
                "description": "Description"
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/sutransaction, [
                'json' => [
                  'suscription' => sucaab7865dceaff49d8b3,
                  'order' => '001',
                  'monto' => '10000',
                  'description' => 'Description'
                  ],
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                    'Authorization' => 'Bearer PUBLIC-TOKEN'
                  ]
                ])->getBody();
              $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/sutransaction', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              suscription: "sucaab7865dceaff49d8b3",
              amount: "10000",
              order: "001",
              description: "Description"
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                suscription:
                  pattern: " maximum 60 characters"
                  description: Unique subscription identifier for payku.
                  type: string
                  example: sucaab7865dceaff49d8b3
                amount:
                  pattern: " maximum 14 digits"
                  description: Amount.
                  type: string
                  example: "10000"
                order:
                  pattern: " maximum 40 characters"
                  description: Order.
                  type: string
                  example: "001"
                description:
                  pattern: " maximum 1000 characters"
                  description: Description.
                  type: string
                  example: Description
                card:
                  pattern: " maximum 28 characters"
                  description: With the identifier you can indicate which of the active cards will be charged (OPTIONAL).
                  type: string
                  example: "surea041d8a4413949425fec"
              required:
                - suscription

  /api/suscriptionsdeletecards/:
      post:
        tags:
          - Consumption Subscription
        summary: Remove card
        description: |
          This method allows you to delete a card associated with the subscription.
        responses:
          "200":
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/CardDeleteSuscriptionResponse"
          "400":
            description: Request failed.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error400CardDelete"
          "401":
            description: Incorrect public token.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error401"
        x-codeSamples:
          - lang: "CURL"
            source: |
              curl -X POST \
              https://BASE_URL/api/suinscriptionscards \
              -H 'Accept: application/json, text/plain, */*' \
              -H 'Sign: SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN'  \
              -H 'Authorization: Bearer PUBLIC_TOKEN'  \
              -H 'Content-Type: application/json,application/json' \
              -H 'Host: BASE_URL' \
              -d {
                  "card": "surec804a8ed60c0a8cb8839"
                }'
          - lang: "PHP"
            source: |
              $client = new \GuzzleHttp\Client();
                $body = $client->request('POST', 'https://BASE_URL/api/suinscriptionscards', [
                  'json' => [
                    'card' => surec804a8ed60c0a8cb8839,
                    ],
                    'headers' => [
                      'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                      'Authorization' => 'Bearer PUBLIC_TOKEN'              ]
                    ])->getBody();
                  $response = json_decode($body);
          - lang: "JS"
            source: |
              const request = async (data) => {
                const response = await fetch('https://BASE_URL/api/suinscriptionscards', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                    'Authorization': 'Bearer PUBLIC_TOKEN'
                  },
                  body: JSON.stringify(data)
                });
                const result = await response.json();
                console.log(result)
              }

              let data = {
                card: "surec804a8ed60c0a8cb8839"
              };

              request(data);
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  suscription:
                    pattern: " maximum 60 characters"
                    description: ID of the associated card.
                    type: string
                    example: surec804a8ed60c0a8cb8839
                required:
                  - suscription

  /api/suclient:
    post:
      tags:
        - Subscription
      summary: Insert data to a Client
      description: This method allows the insertion of Client data.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminClientResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X POST \
            https://BASE_URL/api/suclient \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "joedoe@gmail.com",
                "name": "Joe Doe",
                "rut": "111111111",
                "phone": "923122312",
                "address": "Moneda 101",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "850000,
                "additional_parameters":{
                  "parameter_1": "example",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('POST', 'https://BASE_URL/api/suclient', [
                'json' => [
                  'email' => 'joedoe@gmail.cl',
                  'name' => 'Joe Doe',
                  'rut' => '111111111',
                  'phone' => '923122312',
                  'address' => 'Moneda 101',
                  'country' => 'Chile',
                  'region' => 'Metropolitana',
                  'city' => 'Santiago',
                  'postal_code' => '850000',
                  'additional_parameters' => [
                      'parameter_1' => 'example',
                      'parameter_2' => 'example 2'
                    ]
                  ],
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "joedoe@gmail.com",
              name: "Joe Doe",
              rut: "111111111",
              phone: "923122312",
              address: "Moneda 101",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "850000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " maximum 50 characters"
                  description: Client email.
                  type: string
                  format: email
                  example: joedoe@gmail.com
                name:
                  pattern: " maximum 80 characters"
                  description: Client name
                  type: string
                  example: "Joe Doe"
                rut:
                  pattern: " 12 characters required"
                  description: Single Tax Registry of the client, the entry of this data with or without a hyphen will be allowed.
                  type: string
                  example: "11111111"
                phone:
                  pattern: " 20 characters required"
                  description: Client phone.
                  type: string
                  example: "923122312"
                address:
                  pattern: " maximum 200 characters"
                  description: Client address.
                  type: string
                  example: "Moneda 101"
                country:
                  pattern: "  maximum 40 characters"
                  description: Client country.
                  type: string
                  example: "Chile"
                region:
                  pattern: "  maximum 120 characters"
                  description: Client region.
                  type: string
                  example: "Metropolitana"
                city:
                  pattern: "  maximum 40 characters"
                  description: Client city.
                  type: string
                  example: "Santiago"
                postal_code:
                  pattern: "  maximum 10 characters"
                  description: Client Zip Code.
                  type: string
                  example: "850000"
                additional_parameters:
                  pattern: " maximum 4000 characters"
                  description: Client additional parameters
                  type: object
                  properties:
                    parameter_1:
                      description: Client additional parameter
                      type: string
                      example: "example"
                    parameter_2:
                      description: Client additional parameter
                      type: string
                      example: "example"
              required:
                - email
                - name
                - phone

  /api/suclient/{idClient} or {emailClient}:
    get:
      tags:
        - Subscription
      summary: Query Client data
      description: This method allows obtaining the details of a client or the client's email.
      operationId: getClientById
      parameters:
        - name: id
          in: path
          description: Unique transaction identifier per payku.
          required: true
          schema:
            type: string
            pattern: " maximum 20 characters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientIdResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400Event"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE_URL/api/suclient/id \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('GET', 'https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', [
                'headers' => [
                  'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization' => 'Bearer PUBLIC-TOKEN'
                ]
              ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request(data);

    put:
      tags:
        - Subscription
      summary: Update Client data
      description: This method allows updating a Client's data.
      operationId: putSuscriptionById
      parameters:
        - name: id
          in: path
          description: Unique transaction identifier per payku.
          required: true
          schema:
            type: string
            pattern: " maximum 20 characters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModifyClientResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X PUT \
            https://BASE_URL/api/suclient/id \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
            -d {
                "email": "joedoe@gmail.com",
                "name": "Joe Doe Doe",
                "phone": "923122312",
                "address": "Moneda 121",
                "country": "Chile",
                "region": "Metropolitana",
                "city": "Santiago",
                "postal_code": "750000",
                "additional_parameters":{
                  "parameter_1": "example",
                  "parameter_2": "example 2",
                }
              }'
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('PUT', 'https://BASE_URL//api/suclient/cla90927fa9b30e1dfffa0', [
                'json' => [
                  'email' => 'joedoe@gmail.com',
                  'name' => 'Joe Doe Doe',
                  'phone' => '923122312',
                  'address' => 'Moneda 121',
                  'country' => 'Chile',
                  'region'  => 'Metropolitana',
                  'city'    => 'Santiago',
                  'postal_code' => '750000',
                  'additional_parameters' => [
                    'parameter_1' => 'example',
                    'parameter_2' => 'example 2'
                  ]
                ],
              ],
              'headers' => [
                'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                'Authorization' => 'Bearer PUBLIC-TOKEN'
              ]
            ])->getBody();
            $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async (data) => {
              const response = await fetch('https://BASE_URL/api/suclient', {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
                body: JSON.stringify(data)
              });
              const result = await response.json();
              console.log(result)
            }

            let data = {
              email: "joedoe@gmail.com",
              name: "Joe Doe Doe",
              phone: "923122312",
              address: "Moneda 121",
              country: "Chile",
              region: "Metropolitana",
              city: "Santiago",
              postal_code: "750000",
              additional_parameters:{
                parameter_1: "example",
                parameter_2: "example 2",
              }
            };

            request(data);
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  pattern: " maximum 50 characters"
                  description: Client email.
                  type: string
                  format: email
                  example: joedoe@gmail.com
                name:
                  pattern: " maximum 80 characters"
                  description: Client name
                  type: string
                  example: "Joe Doe Doe"
                phone:
                  pattern: " maximum 20 characters"
                  description: Client phone.
                  type: string
                  example: "923122312"
                address:
                  pattern: " maximum 200 characters"
                  description: Client address.
                  type: string
                  example: "Moneda 121"
                country:
                  pattern: " maximum 40 characters"
                  description: Client country.
                  type: string
                  example: "Chile"
                region:
                  pattern: " maximum 120 characters"
                  description: Client region.
                  type: string
                  example: "Metropolitana"
                city:
                  pattern: " maximum 40 characters"
                  description: Client city.
                  type: string
                  example: "Santiago"
                postal_code:
                  pattern: " maximum 10 characters"
                  description: Client Zip Code.
                  type: string
                  example: "750000"
                additional_parameters:
                  pattern: " maximum 4000 characters"
                  description: Client additional parameters
                  type: object
                  properties:
                    parameter_1:
                      description: Client additional parameter
                      type: string
                      example: "example"
                    parameter_2:
                      description: Client additional parameter
                      type: string
                      example: "example"

    delete:
      tags:
        - Subscription
      summary: Delete Client
      description: This method allows the elimination of a client associated with a user id.
      operationId: deleteClientById
      parameters:
        - name: id
          in: path
          description: Unique transaction identifier per payku.
          required: true
          schema:
            type: string
            pattern: " maximum 20 characters"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteClientResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X DELETE \
            https://BASE_URL/api/suclient/id \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
            -H 'Authorization: Bearer TOKEN_PUBLICO'  \
            -H 'Content-Type: application/json,application/json' \
            -H 'Host: BASE_URL' \
        - lang: "PHP"
          source: |
            $client = new \GuzzleHttp\Client();
              $body = $client->request('DELETE', 'https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', [
                  'headers' => [
                    'Sign' => 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                    'Authorization' => 'Bearer PUBLIC-TOKEN'              ]
                  ])->getBody();
                $response = json_decode($body);
        - lang: "JS"
          source: |
            const request = async () => {
              const response = await fetch('https://BASE_URL/api/suclient/cla90927fa9b30e1dfffa0', {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json',
                  'Sign': 'SHA256-REQUEST-PATH-VALUE-PRIVATE-TOKEN',
                  'Authorization': 'Bearer PUBLIC-TOKEN'
                },
              });
              const result = await response.json();
              console.log(result)
            }

            request(data);

  /api/suclient/customers:
    get:
      tags:
        - Subscription
      summary: Get all Clients
      description: This method allows to obtain all Clients.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AllClientResponse"
        "400":
          description: Request failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error400"
        "401":
          description: Incorrect public token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error401"
      x-codeSamples:
        - lang: "CURL"
          source: |
            curl -X GET \
            https://BASE_URL/api/suclient/customers \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Sign: SIGN'  \
[...]
